* {
    padding: 0px;
    margin: 0px;
}
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a {
    color: red;
    text-decoration: none !important;
    border-bottom: solid;
    border-bottom-color: white;
    transition: 1s;
}
a:hover {
    border-bottom-color: royalblue;
    transition: 1s;
}
.spacer{
    border-bottom: dotted;
    border-bottom-color: #cccccc;
    margin: 15px;
}